.signlang__whatsignlang {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  background: var(--color-footer);

  /* ff 3.6+ */
  background-color: rgb(48, 22, 83);
  /*  */

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.signlang__whatsignlang-feature {
  display: flex;
}

/* Customizing feature component as per needs */
.signlang__whatsignlang-feature .signlang__features-container__feature {
  margin: 0;
}

/* Customizing feature component as per needs */
.signlang__whatsignlang-feature .signlang__features-container_feature-text {
  max-width: 700px;
}

.signlang__whatsignlang-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 4rem 0 2rem;
}

.signlang__whatsignlang-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
}

.signlang__whatsignlang-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  margin-top: 5rem;
}

/* Customizing feature component as per needs */
.signlang__whatsignlang-container .signlang__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

/* Customizing feature component as per needs */
.signlang__whatsignlang-container .signlang__features-container_feature-text {
  margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
  .signlang__whatsignlang-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
  }

  .signlang__whatsignlang-heading p {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  /* Customizing feature component as per needs */
  .signlang__whatsignlang-feature .signlang__features-container__feature {
    flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .signlang__whatsignlang-feature .signlang__features-container_feature-text {
    margin-top: 0.5rem;
  }

  .signlang__whatsignlang-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .signlang__whatsignlang-container .signlang__features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }
}
